In [ ]:
'''soru3:)1-customer--adress ===> many to one ===>her musterini bir adresi olmak zorundadir
          2-adress--city ===>one(nandotary)to many(option) ===> her adresin bir sehir olmak zorundadir.
          3-
          4-
          5-
'''

In [ ]:
#soru6 
# CREATING TABLES
import psycopg2
conn = psycopg2.connect(database="class4", user='postgres', password='2520')
cursor=conn.cursor()
cursor.execute("DROP TABLE IF EXISTS category")
sql ='''CREATE TABLE category(
   category_id int PRIMARY KEY NOT NULL ,
   name CHAR(50),
   last_update DATE
)'''
cursor.execute(sql)
cursor.execute("DROP TABLE IF EXISTS inventory")
sql ='''CREATE TABLE inventory(
   inventory_id int PRIMARY KEY NOT NULL ,
   film_id CHAR(50),
   store_id int,
   last_update DATE
)'''
cursor.execute(sql)
#CREATING LANGUAGE TABLE
cursor.execute("DROP TABLE IF EXISTS language")
sql='''CREATE TABLE language(
    language_id INT PRIMARY KEY NOT NULL,
    name VARCHAR(50),
    last_update DATE
)'''
cursor.execute(sql)
cursor.close()
conn.commit()
print("Table created successfully........")
conn.close()

In [ ]:
#soru9 TABLE INSERT
import psycopg2
conn=psycopg2.connect(database="class4", user="postgres", password="2520")
cursor=conn.cursor()
#LANGUAGE TABLE INSERT
insert_many='''INSERT INTO language (language_id,name,last_update)
VALUES (%s,%s,%s)'''
data=[('66666','Turkije','4/6/2021'),
('77777','Fin','4/6/2021'),
('88888','cin','4/6/2021')]
cursor.executemany(insert_many,data)
#LANGUAGE TABLE INSERT
cursor.execute('''INSERT INTO language(language_id,name,last_update)
VALUES('12345','French', '4/6/2021') ''')
cursor.execute('''INSERT INTO language(language_id,name,last_update)
VALUES('32145','English', '4/6/2021') ''')
cursor.execute('''INSERT INTO language(language_id,name,last_update)
VALUES('4321','Dutch', '4/6/2021') ''')
#INVENTORY TABLE INSERT 
insert_many='''INSERT INTO inventory (inventory_id,film_id,store_id,last_update) 
VALUES(%s,%s,%s,%s)'''
data=[('1000001','555','55','5/5/2005'),
('2000002','666','66','6/6/2006')]
cursor.executemany(insert_many,data)
#CATEGORY TABLE INSERT
insert_many=''' INSERT INTO category (category_id,name,last_update)
VALUES(%s,%s,%s)'''
data=[('3333333','Action','4/4/2004'),
('111111','comedy','5/5/2005')]
cursor.executemany(insert_many,data)
conn.commit()
print('Record inserted...........')
conn.close()

In [ ]:
#soru 12
import psycopg2
conn=psycopg2.connect(database="class4", user="postgres", password="2520")
cursor=conn.cursor()
sql=''' UPDATE language SET last_update='7/7/2021' '''           #information are changed last_update column
sql=''' UPDATE inventory SET store_id='77' WHERE last_update='6/6/2006' ''' #only last update dates  6/6/2006
sql=''' UPDATE category SET name='komik' WHERE name='comedy' ''' 
cursor.execute(sql)
conn.commit()
print("Record is changed.........")
conn.close()

In [ ]:
#soru 15
import psycopg2
conn=psycopg2.connect(database="class4", user="postgres", password="2520")
cursor=conn.cursor()
sql='''DELETE FROM category WHERE name='komik' '''
cursor.execute(sql)
sql='''DELETE FROM inventory WHERE store_id='66' '''
cursor.execute(sql)
sql='''DELETE FROM language WHERE language_id='4321' '''
cursor.execute(sql)
cursor.close()
conn.commit()
conn.close()

In [ ]:
#SORU 18
import psycopg2
conn=psycopg2.connect(database="class4", user="postgres", password="2520")
cursor=conn.cursor()
cursor.execute("DROP TABLE inventory")
print('Table dropped......')
conn.commit()
conn.close()

In [ ]:
#soru 20
import psycopg2
conn=psycopg2.connect(database="class4", user="postgres", password="2520")
cursor=conn.cursor()
cursor.execute(''' CREATE TABLE language_2 AS SELECT name, last_update FROM language  ''' )
conn.commit()
conn.close()

In [ ]:
#soru 23
import psycopg2
conn=psycopg2.connect(database="class4", user="postgres", password="2520")
cursor=conn.cursor()
cursor.execute(''' TRUNCATE TABLE category''')
conn.commit()
conn.close()

In [ ]:
#soru 26
import psycopg2
conn=psycopg2.connect(database="class4", user="postgres", password="2520")
cursor=conn.cursor()
cursor.execute("DROP TABLE category")
print('Table dropped......')
conn.commit()
conn.close()

In [ ]:
#soru 27
'''
COPY language
TO '/Users/Hallo/Desktop/PYTHON/PycodersOO/table_export.csv'
DELIMITER ',' 
CSV HEADER;
'''

In [ ]:
#soru 28
'''
DROP TABLE inventory;
'''

In [ ]:
#soru 29
'''
COPY language
FROM '/Users/Hallo/Desktop/PYTHON/PycodersOO/table_export.csv'
DELIMITER ','
CSV HEADER;

In [ ]:
#soru 30
import psycopg2
conn=psycopg2.connect(database="class4", user="postgres", password="2520")
cursor=conn.cursor()
cursor.execute("DROP TABLE language")
print('Table dropped......')
conn.commit()
conn.close()

In [ ]:
#soru 32
'''
TABLE categry;

In [ ]:
#soru 33
'''
SELECT AVG (length) from film;          cevap:115.2720000000000000

In [ ]:
#soru 35
'''
SELECT rating FROM film WHERE film_id in (SELECT film_id FROM film_actor WHERE actor_id=(SELECT actor_id FROM actor WHERE first_name='Gene' AND last_name='Willis'));

'''

In [ ]:
#soru 37
'''
SELECT * FROM film  WHERE title LIKE 'C%';

'''