# Malik YILMAZ

# Class4-DatabaseModule-Week12

## 1- 'pycoders' isimli bir server kurun. (M)

## Kuruldu.

## 2- 'class4' database olusturun (M). Database silin (M). Ayni database yine olusturun (K)

In [ ]:
create database class4

## 3. https://www.postgresqltutorial.com/postgresql-sample-database/ adresine gidin ve ER modeli inceleyin. 
Tablolar arasindaki en az 5 iliskiyi yazin.(Hangi tablolar arasinda ne tur bir iliski var)

## 4- ER modeldeki tablolardan 3 tanesini M olusturun.

In [ ]:
Olusturuldu.

## 5- ER modeldeki tablolardan 3 tanesini K olusturun.

In [ ]:
CREATE TABLE rental (
rental_id int primary key not null,
rental_date date,
inventory_date date,
costumer_id int,
return_date date,
staff_id int,
last_update date);

CREATE TABLE city ( 
city_id int primary key not null,
city varchar(15),
country_id int,
costumer_id int,
last_update date);

CREATE TABLE actor (
actor_id serial PRIMARY KEY,
first_name VARCHAR ( 50 ) NOT NULL,
last_name VARCHAR ( 50 ) NOT NULL,
last_login TIMESTAMP);

CREATE TABLE language (
language_id serial PRIMARY KEY,
name VARCHAR ( 20 ) UNIQUE NOT NULL,
last_update TIMESTAMP);

CREATE TABLE film_actor (
 film_id INT NOT NULL,
 actor_id INT NOT NULL,
 last_update TIMESTAMP,
 PRIMARY KEY (film_id, actor_id),
 FOREIGN KEY (film_id)
 REFERENCES film (film_id),
 FOREIGN KEY (actor_id)
 REFERENCES actor (actor_id))

## 6- ER modeldeki tablolardan 3 tanesini C olusturun.
(4-5-6. sorulari cozerken toblolar arasindaki iliskileri gozardi edebilirsiniz. Tum kolonlari girmek zorunda 
degilsiniz, en az 2 kolon olmasi yeterli.)

### 1

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname = class4 user=postgres password = 124578")
cur = conn.cursor()
cur.execute(
""" CREATE TABLE rental (
rental_id int primary key not null,
rental_date date,
inventory_date date,
costumer_id int,
return_date date,
staff_id int,
last_update date)""")
cur.close()
conn.commit()

### 2

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname = class4 user=postgres password = 124578")
cur = conn.cursor()
cur.execute(
""" CREATE TABLE city ( 
city_id int primary key not null,
city varchar(15),
country_id int,
last_update date)""")
cur.close()
conn.commit()

### 3

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname = class4 user=postgres password = 124578")
cur = conn.cursor()
cur.execute(
""" CREATE TABLE actor (
actor_id serial PRIMARY KEY,
first_name VARCHAR ( 50 ) NOT NULL,
last_name VARCHAR ( 50 ) NOT NULL,
last_login TIMESTAMP)""")
cur.close()
conn.commit()

### 4

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname = class4 user=postgres password = 124578")
cur = conn.cursor()
cur.execute(
""" CREATE TABLE language (
language_id serial PRIMARY KEY,
name VARCHAR ( 20 ) UNIQUE NOT NULL,
last_update TIMESTAMP)""")
cur.close()
conn.commit()

### 5

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname=class4 user=postgres password=124578")
cur = conn.cursor()
cur.execute(
""" CREATE TABLE payment (
payment_id INT NOT NULL,
payment_date TIMESTAMP,
rental_id INT NOT NULL,
PRIMARY KEY (payment_id),
REFERENCES rental (rental_id))"""
)
cur.close()
conn.commit()
conn.close()

## 7- Olusturdugunuz 3 tabloya M ile 5 veri girisi yapin.

In [ ]:
Yapildi.

## 8- Olusturdugunuz 3 tabloya K ile 5 veri girisi yapin.

In [ ]:
insert into payment values (1, '01/04/2021',10);
insert into payment values (2, '02/04/2021',20);
insert into payment values (3, '03/04/2021',30);
insert into payment values (4, '04/04/2021',40);
insert into payment values (5, '05/04/2021',50);

insert into language values (1, 'English' , '01/04/2021');
insert into language values (2, 'Italian' , '02/04/2021');
insert into language values (3, 'Japanese' , '03/04/2021');
insert into language values (4, 'French' , '04/04/2021');
insert into language values (5, 'German' , '05/04/2021');

insert into city values (1, 'Istanbul', 1, '01/04/2021');
insert into city values (2, 'Paris', 2, '02/04/2021');
insert into city values (3, 'London', 3, '03/04/2021');
insert into city values (4, 'Berlin', 4, '04/04/2021');
insert into city values (5, 'Amsterdam', 5, '05/04/2021');

## 9- Olusturdugunuz 3 tabloya C ile 5 veri girisi yapin.

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname = class4 user=postgres password=124578")
cur = conn.cursor()
cur.execute("insert into payment values (1, '01/04/2021',10)")
cur.execute("insert into payment values (2, '02/04/2021',20)")
cur.execute("insert into payment values (3, '03/04/2021',30)")
cur.execute("insert into payment values (4, '04/04/2021',40)")
cur.execute("insert into payment values (5, '05/04/2021',50)")
cur.close()
conn.commit()
conn.close()

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname = class4 user=postgres password=124578")
cur = conn.cursor()
cur.execute("insert into language values (1, 'English' , '01/04/2021')")
cur.execute("insert into language values (2, 'Italian' , '02/04/2021')")
cur.execute("insert into language values (3, 'Japanese' , '03/04/2021')")
cur.execute("insert into language values (4, 'French' , '04/04/2021')")
cur.execute("insert into language values (5, 'German' , '05/04/2021')")
cur.close()
conn.commit()
conn.close()

In [ ]:
import psycopg2
conn = psycopg2.connect("dbname = class4 user=postgres password=124578")
cur = conn.cursor()
cur.execute("insert into city values (1, 'Istanbul', 1, '01/04/2021')")
cur.execute("insert into city values (2, 'Paris', 2, '02/04/2021')")
cur.execute("insert into city values (3, 'London', 3, '03/04/2021')")
cur.execute("insert into city values (4, 'Berlin', 4, '04/04/2021')")
cur.execute("insert into city values (5, 'Amsterdam', 5, '05/04/2021')")
cur.close()
conn.commit()
conn.close()

## 10- 3 tablodaki birer veriyi M ile degistirin.

In [ ]:
Degistirildi

## 11- 3 tablodaki birer veriyi K ile degistirin.

In [ ]:
update language set name = 'English' where name = 'Italian'
update city set city='Istanbul' where city ='Paris'
update payment set payment_date='01/04/2021' where payment_date='01/04/2021'

## 12- 3 tablodaki birer veriyi C ile degistirin.

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("update language set name = 'English' where name = 'Italian'")
cur.close()
conn.commit()
conn.close()

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("update city set city='Istanbul' where city ='Paris'")
cur.close()
conn.commit()
conn.close()

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("update payment set payment_date='01/04/2021' where payment_date='01/04/2021'")
cur.close()
conn.commit()
conn.close()

## 13- 3 tablonun son satirini M ile silin

In [ ]:
Silindi.

## 14- 3 tablonun son satirini K ile silin.

In [ ]:
DELETE FROM language WHERE language_id =( SELECT MAX (language_id) FROM language);
DELETE FROM city WHERE city_id =( SELECT MAX (city_id) FROM city);
DELETE FROM payment WHERE payment_id =( SELECT MAX (payment_id) FROM payment);

## 15. 3 tablonun son satirini C ile silin

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("DELETE FROM language WHERE language_id =( SELECT MAX (language_id) FROM language)")
cur.close()
conn.commit()
conn.close()

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("DELETE FROM city WHERE city_id =( SELECT MAX (city_id) FROM city)")
cur.close()
conn.commit()
conn.close()

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("DELETE FROM payment WHERE payment_id =( SELECT MAX (payment_id) FROM payment)")
cur.close()
conn.commit()
conn.close()

## 16. 1 tabloyu M ile silin.

In [ ]:
Silindi.

## 17. 1 tabloyu K ile silin

In [ ]:
drop table language

## 18. 1 tabloyu C ile silin.

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("drop table payment")
cur.close()
conn.commit()
conn.close()

## 19. Kalan tablolardan 1 tanesinin 2 veya 3 sutununu K ile baska bir tablo olarak olusturun.

In [ ]:
CREATE TABLE new_city AS SELECT (city), (country_id) FROM city;

## 20. Kalan tablolardan 1 tanesinin 2 veya 3 sutununu C ile baska bir tablo olarak olusturun.

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("CREATE TABLE new_city_2 AS SELECT  (country_id),(city) FROM city")
cur.close()
conn.commit()
conn.close()

## 21. Tablolardan 1 tanesini M ile truncate edin

In [ ]:
Truncate edildi.

## 22. Tablolardan 1 tanesini K ile truncate edin.

In [ ]:
truncate table new_city;

## 23. Tablolardan 1 tanesini C ile truncate edin.

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("truncate table new_city_2")
cur.close()
conn.commit()
conn.close()

## 24. Truncate edilmis tabloyu M ile silin.

In [ ]:
Silindi

## 25. Truncate edilmis tabloyu K ile silin.

In [ ]:
drop table new_city;

## 26. Truncate edilmis tabloyu C ile silin.

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("drop table new_city_2")
cur.close()
conn.commit()
conn.close()

## 27. Elimizde veri olan 1 tablo kalmis olmasi lazim. Bu tabloyu csv olarak bilgisayariniza yukleyin.

In [ ]:
Yuklendi.

## 28. Postgresql arayuzundeki son tabloyu da K ile silin.

In [ ]:
drop table city;

## 29. Bilgisayarinizdaki csv yi arayuze import edin.

In [ ]:
copy city (city_id, city, country_id, last_update) 
from 'C:/Users/Admin/DOCUME~1/city.cvs' DELIMITER ',' CSV HEADER ENCODING 'UTF8' QUOTE '\"' ESCAPE '''';

## 30. Import ettiginiz bu tabloyu C ile silin.

In [ ]:
conn=psycopg2.connect("dbname=class4 user=postgres password=124578")
cur=conn.cursor()
cur.execute("drop table city")
cur.close()
conn.commit()
conn.close()

## conn.close()
31. https://www.postgresqltutorial.com/postgresql-sample-database/ linkindeki ornek DB yi bilgisayariniza 
indirin ve arayuze yukleyin.

In [ ]:
indirildi ve arayuze yuklendi.

## 32. DB nizde 15 adet tablo olmasi lazim. Her tabloyu teker teker goruntuleyin ve kolon isimlerine bakarak, 5 tabloda hangi kolonun PK ve FK oldugunu yazin

In [ ]:
Actor     tablosunda / PK: actor_id
Adress    tablosunda / PK: adress_id   /  FK: city_id
Category  tablosunda / PK: category_id
City      tablosunda / PK: ciy_id      /  FK: country_id
Country   tablosunda / PK: country_id

## 33. Sorgular? (Asagidaki sorularin cevaplarini ve bu cevabi bulurken kullandiginiz kodlari yazin)

## 34. Action filmlerinin ortalama suresi ne kadar?

In [ ]:
select AVG(length) from film where (description) like '%Action%';

In [ ]:
112.7045454545454545

## 35. En cok staff olan store hangisidir?

In [ ]:
SELECT store_id, 
count (store_id) FROM staff GROUP BY store_id 
ORDER BY count (store_id) DESC limit 1

In [ ]:
1

## 36. 'Gene Willis' adli actorun oynadigi filmlerin ratingi nedir?

In [ ]:
select actor_id from actor where first_name='Gene' and last_name='Willis';

select film_actor.actor_id, film.rating from film_actor 
left join film on film_actor.film_id=film.film_id where actor_id=96;

In [ ]:
select film_actor.actor_id, film.rating from film_actor 
left join film on film_actor.film_id=film.film_id where actor_id =
(select actor_id from actor where first_name='Gene' and last_name='Willis')

## 37. Aktif customer sayisi nedir?

In [ ]:
select count(*) from customer where active=1

In [ ]:
584

## 38. 'C' harfiyle baslayan filmler hangileridir?

In [ ]:
select * from film where title like 'C%'

In [ ]:
'C' harfiyle baslayan 92 film var

## 39. 4$ den az odeme yapan musterilerin e-mail edresleri nedir?

In [ ]:
select email from customer
left join payment on customer.customer_id=payment.customer_id
where amount<4

In [ ]:
7554 musteri var

## 40. Moscow'da ikamet eden staff ve customer tablosu? (sadece isim/soyisim sutunu olsun)

In [ ]:
select first_name, last_name from customer
left join address on customer.address_id=address.address_id
left join city on city.city_id=address.city_id
where city='Moscow'

In [ ]:
select first_name, last_name
from customer
where address_id = (select address_id from address where city_id = (select city_id from city where city = 'Moscow'))
union
select first_name, last_name
from staff
where address_id = (select address_id from address where city_id = (select city_id from city where city = 'Moscow'))

In [ ]:
"Catherine"	"Campbell"

## 41. En az kiralanan 5 film hangisidir?

In [ ]:
select * from film order by rental_duration limit 5

In [ ]:
"Alone Trip"
"Alabama Devil"
"Agent Truman"
"Ace Goldfinger"
"American Circus"

## 42. 2006 yilinda yayinlanan ingilizce filmler hangileridir?

In [ ]:
select * from film 
left join language on film.film_id=language.language_id
where release_year=2006

In [ ]:
select *
from film
where release_year = 2006 and language_id = (select language_id from language
where name='English')

In [ ]:
select count(*)
from film
where release_year = 2006 and language_id = (select language_id from language
where name='English'

In [ ]:
1000 adet film var.